<ion-header>
  <ion-toolbar>
    <ion-title>mmi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="section page second_section"><!--Partie a propos de moi-->
	<a name="a_propos"></a>
		<div class="section_container second_section_container flex_container flex_center">
			<div class="text header_text text_grad_purple_yellow">
				<h1>A propos de moi</h1>
			</div>
			<div class="description_photo">
			<img class="photo" src="../../assets/images/photo.png">
				<p class="description">Hello ! Moi c'est Flavie, je suis actuellement étudiante en deuxième année de DUT Métiers des Multimédia et de l’Internet au Puy-en-Velay. Je suis plutôt axée sur le web.</p>
			</div>
		</div>
	</div>

</ion-content>
