.second_section {
	min-height: 700px;
	height: auto!important;
	background: repeating-linear-gradient(
	  45deg,
	  #FF123B,
	  #FF123B 4.9px, /* couleur fond partie a propos*/
	  rgba(0, 116 ,217, 0.01) 3px,
	  rgba(0, 116 ,217, 0.01) 5px
	);
}
	
.description_photo {
	margin-top: 6%;
}

.description {
	font-family: 'Raleway-Regular', sans-serif;
	letter-spacing: 0.5px;
	color: white;
	position: relative;
	float:right;
	width: 60%;
	margin-right: 5%;
	margin-top: 15%;
}

.photo {
	width:20vw;
	position:relative;
	float: left;
	margin-left: 5%;
	margin-bottom:5%;
}

h1 {
	text-align: center;
	padding-top: 5%;
	color:white;
	font-family: "satisfy";
	font-size: 5em;
}