.header_quote {border-radius: 5px; padding: 20px;}
.header_section {
	background-image: url(../images/image1.jpg);
	background-size: cover;
}

.image_logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
