<ion-header>
  <ion-toolbar>
    <ion-title>demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section page header_section"><!--accueil-->
		<div class="section_container header_section_container flex_container flex_header_container">
			<div class="text header_text">
				<img class="image_logo" src="../../assets/images/logo Flavie.png">
			</div>
			<div class="text body_text flex_item flex_header_item">
			</div>
		</div>
	</div>
</ion-content>
