<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
	
	<ion-button color="light">Light</ion-button>
	
	<ion-chip>
	  <ion-icon name="pin" color="primary"></ion-icon>
	  <ion-label>Icon Chip</ion-label>
	  <ion-icon name="close"></ion-icon>
	</ion-chip>

<ion-datetime value="2020-03-09T15:43:40.394Z" display-timezone="utc"></ion-datetime>



  </div>
</ion-content>
