<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="section page second_section">
		<h1>Contact</h1>
		<img src="" id="map"/>
		
		<div class="info "><!-- Partie Contact-->
			<h3>flavie.pabiou@gmail.com  www.linkedin.com/in/flavie-pabiou</h3>
			<h3>0651880987</h3>
			<h3> www.linkedin.com/in/flavie-pabiou</h3>
		</div>
		<button (click)="openCamera($event)">Démarer la caméra</button>
		<video id="video" width="640" height="480" autoplay></video>
	

		<div class="meteo">
			<h2>Météo</h2>
			<ion-text class="texte">Ville : </ion-text> {{name}} <br>
			<ion-text class="texte">Levé du soleil : </ion-text> {{sunrise}} <br>
			<ion-text class="texte">Couché du soleil : </ion-text> {{sunset}} <br>
			<ion-text class="texte">Conditions : </ion-text> {{condition}} <br>
			<ion-text class="texte">Température minimale : </ion-text> {{tmin}} <ion-text class="texte">°C</ion-text><br>
			<ion-text class="texte">Température maximale : </ion-text> {{tmax}} <ion-text class="texte">°C</ion-text><br>
		</div>
	</div>
	
</ion-content>
