.info {
	margin-top: 3%;
	text-align:center;
}

#map {
	display:block;
	margin:1%;
	margin-left:auto;
	margin-right:auto;
}

h3 {
	color:white;
	margin-left: 1%;
}

.second_section {
	min-height: 700px;
	height: auto!important;
	background: repeating-linear-gradient(
	  45deg,
	  #FF123B,
	  #FF123B 4.9px, /* couleur fond partie a propos*/
	  rgba(0, 116 ,217, 0.01) 3px,
	  rgba(0, 116 ,217, 0.01) 5px
	);
}
	
h1 {
	text-align: center;
	padding-top: 4%;
	color:white;
	font-family: "satisfy";
	font-size: 5em;
}

#video {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

button {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2%;
}

.meteo {
	text-align:center;
	color:white;
	padding-bottom:5%;
}

h2 {
	font-family:"satisfy";
	font-size:3em;
}