<ion-header>
  <ion-toolbar>
    <ion-title>portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="section page third_section"><!-- Partie Portfolio-->
	<a name="portfolio"></a>
		<div class="section_container third_section_container flex_container flex_center">
			<div class="text header_text">
				<h1>Portfolio</h1>
			</div>
			<!--Loire en scène, accueil saint francois, chocolat, journal, sablier, gorille, couronne, plaquette, film, candles (?)-->
				<div class="fond">
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation1" src="../../assets/images/loireenscene.png">
						<p class="p1">Site réalisé pour l'association Loire en scène lors d'un stage</p>
					</div>
					<div  class="bloc2">
						<img class="creation2" src="../../assets/images/saintfrancois.png">
						<p class="p2">Création pour l'accueil Saint-François du Puy-en-Velay</p>
					</div>
				</div>
				
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation3" src="../../assets/images/journal.png">
						<p class="p3">Réalisation de la page article en HTML/CSS du journal en ligne <I>Interface</I> de l’IUT MMI 2018-2019</p>
					</div>
					<div  class="bloc2">
						<img class="creation4" src="../../assets/images/chocolat.png">
						<p class="p4">Site WordPress réalisé dans le cadre d'un cours sur les CMS</p>
					</div>
				</div>
				</div>
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation3" src="../../assets/images/kidybox.png">
						<p class="p2">Site vitrine réalisé en une semaine dans le cadre de la semaine banalisée web</p>
					</div>
					<div  class="bloc2">
						<img class="creation3" src="../../assets/images/avengers.png">
						<p class="p4">Création d'un site sur le thème des Avengers dans le cadre d'un cours</p>
					</div>
				</div>
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation5" src="../../assets/images/sablier.jpg">
						<p class="p5">Réalisation sur le thème de l’environnement</p>
					</div>
					<div  class="bloc2">
						<img class="creation6" src="../../assets/images/gorille.jpg">
						<p class="p6">Affiche sur la paréidolie créée à base de lait et de peinture</p>
					</div>
				</div>
				<div class="fond2">
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation7" src="../../assets/images/couronne.jpg">
						<p class="p7">Création d’un packaging pour la brioche La Pompe de Saint Jacques</p>
					</div>
					<div  class="bloc2">
						<img class="creation8" src="../../assets/images/plaquette.jpg">
						<p class="p8">Plaquette commerciale fictive réalisée en cours à partir de la charte graphique de mon logo</p>
					</div>
				</div>
				
				<div class="blocs">
					<div  class="bloc1">
						<img class="creation9" src="../../assets/images/film.png">
						<p class="p9">Court-métrage créé dans le cadre de la semaine banalisée Audiovisuelle à l’IUT MMI</p>
					</div>
					<div  class="bloc2">
						<img class="creation10" src="../../assets/images/candles.gif">
						<p class="p10">Cinégraph d'une bougie</p>
					</div>
				</div>
				</div>
		</div>
	</div>

</ion-content>
