.gradient_third_section {
	height: 900px;
}

.section_container {margin-right: auto; margin-left: auto; }

.flex_container {display: flex; flex-wrap: wrap; align-items: center;}
.flex_header_container {justify-content: center;}
.flex_header_item {
	min-width: 350px;
	max-width: 600px;
	z-index: 50;
}
.flex_header_item h2 {font-family: 'Rubik', cursive;}
.flex_feature_item {
	-webkit-transition: -webkit-transform .1s; /* Safari */
	transition: transform .1s;

	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}
	.flex_feature_item:hover {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
.flex_center {justify-content: center;}

h1{
	font-family: "satisfy";
	font-size: 5em;
	color:#FF123B;
}

.creation1 {
	width: 100%;
}
p {
	letter-spacing: 0.5px;
}

.p1 {
	margin-top:-25px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
}

.creation2 {
	margin-top:30px;
	width: 100%;
}

.p2 {
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
}

.creation3 {
	width: 100%;
}

.p3 {
	margin-top:-6px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:50px;
}

.creation4 {
	width: 90%;
	padding-left: 10px;
}

.p4 {
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:50px;
}

.creation5 {
	width: 80%;
	padding-left: 60px;
	margin-left: auto;
    margin-right: auto;
}

.p5 {
	margin-top:40px;
	padding-left: 30px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:50px;
}
.creation6 {
	width: 65%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.p6 {
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	margin-top: 60px;
	padding-bottom:50px;
}

.creation7 {
	width: 90%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.p7 {
	margin-top:50px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:50px;
}

.creation8 {
	width: 60%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.p8 {
	margin-top: 50px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:50px;
}

.creation9 {
	margin-top:-60px;
	width: 100%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.p9 {
	margin-top:0px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:100px;
}

.creation10 {
	width: 80%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.p10 {
	margin-top: 70px;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
	padding-bottom:100px;
}

.blocs {
	width: 90%;
	display: inline;
	margin-left: auto;
    margin-right: auto;
}

.bloc1 {
	display: block;
	position: relative;
	float:left;
	width: 40%;
}

.bloc2 {
	display: block;
	position: relative;
	float: right;
	width: 40%;
}

.fond {
	background-image: url("../../assets/images/fondrose.jpg");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	left: -450px;
}

.fond2 {
	background-image: url("../../assets/images/fondgris.jpg");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	left: -450px;
}