<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" >
            <ion-item [routerLink]="['/demo']" ><ion-label>Accueil</ion-label></ion-item>
			<ion-item [routerLink]="['/mmi']" ><ion-label>A propos</ion-label></ion-item>
			<ion-item [routerLink]="['/portfolio']" ><ion-label>Portfolio</ion-label></ion-item>
      <ion-item [routerLink]="['/contact']" ><ion-label>Contact</ion-label></ion-item>
      <ion-item [routerLink]="['/news']" ><ion-label>News</ion-label></ion-item>
          </ion-menu-toggle>
        </ion-list>       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
