<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>News</h1>
  <ion-text *ngIf="!isload">Loading ...</ion-text>
    <div *ngIf="isload">
      <div *ngFor="let news of data">
        <ion-text >
        <h2> {{ news.source.name }}</h2>
        </ion-text>
        <ion-text ><h4>{{ news.title }}</h4></ion-text>
        <ion-text ><p>{{ news.description }}</p></ion-text>
        <a href="{{ news.url }}" target="_blank">Lire l'article</a>
      </div>
    </div>


</ion-content>
